* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: white;
}

.container-sx {
    display: flex;
    
}

.logo {
    margin: 10px;
}

.container-dx{
    display: flex;
}

nav ul {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    margin: 10px;
    
}

li a {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 78px;
    margin: 0 20px 20px 0;

}
.container-dx button {
    background-color: blue;
    border: none;
    padding: 5px 15px;
}

.container-dx button a {
    color: white;
}

.header-container {
    background-color: #ADCFE4;
    margin-top: 68px;
    position: relative;
}

.header-box {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 80px;
}

.header-box-aside {
    width: 30%;    

}

.header-box-aside-image {
    display: flex;
}

.header-box-aside p {
    margin-bottom: 30px;
}

.header-box-aside div {
    margin-bottom: 30px;
}

.header-box-aside div button{
    background-color: #0061F5;
    padding: 10px;
    color: white;
    border: none;
}

.header-box-aside i {
    margin-top: 140px;
    font-size: 35px;

}

.header-box-image {
    width: 70%;
}

.header-box-image img {
    max-height: 510px;
}

section {
    width: 920px;
    margin: 0 auto;
}

h2 {
    font-size: 40px;
}

.title-box {
    margin-top: 180px;
    margin-bottom: 50px;
}

.radio {
    font-size: 16px;
    display: flex;
}

.radio-input {
    margin-right: 50px;
    margin-bottom: 50px;
}

.radio-input input {
    margin-right: 10px;
}

.column-container {
    display: flex;
    justify-content: space-between;
}

.column-section {

    width: 30%;
    flex-wrap: wrap;
    border: 0.1px solid lightgray;
    
}

.row-text {
    border-bottom: 0.1px solid lightgray;
    text-align: center;
    padding: 10px;
}

.row-sub-section {
    margin: 20px 10px 50px;
}

.row-sub-section-1 {
    margin-bottom: 20px;
}

.row-sub-section-2 {
    margin-bottom: 10px;
}

.row-sub-section-3 {
    margin-bottom: 10px;
}
.user {
    margin-bottom: 20px;
}

.row-sub-section-plus {
    display: flex;
}

.text-fa {
    margin-left: 5px;
    margin-bottom: 20px;
}

.row-single {
    margin-left: 10px;
}

.row-single button{
    background-color: #0061F5;
    color: white;
    border: none;
    padding: 10px 50px 10px;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.row-single2 button{
    background-color: #0061F5;
    color: white;
    border: none;
    padding: 10px 85px 10px;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
}

.row-small {
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid lightgray;
    width: 50px;
}

.text-plane {
    margin: 10px 0px 30px;

}

.detail-plane-img {
    color: blue;
    margin-bottom: 50px;
    margin-right: 10px;
}

.second-container {
    border: 1px solid lightgray;
    margin-top: 30px;
    margin-bottom: 30px;
}

.single-box {
    text-align: center;
    border-bottom: 1px solid lightgray;

    margin-bottom: 20px;
    padding: 10px;
}

.double-box {
    display: flex;
    justify-content: space-between;
    
}

.box-right {

}

.box-right button {
    background-color: #0061F5;
    padding: 10px 50px 10px;
    color: white;
    border: none;
    margin-right: 20px;
    margin-left: 40px;
    font-size: 14px;
}

.box-left {
    margin: 10px;

}

.box-left-title {
    margin: 10px;
    font-size: 18px;
}

.box-left-subtitle {
    margin: 10px 10px 50px;
    font-size: 14px;
}

.box-left-text {
    margin: 10px;
    width: 550px;
}

.partner-container {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.section-partner {

    width: 100%;
}

.section-partner img {
width: 100%;
}

.text-partner {
    font-size: 18px;
    margin: 40px;
    width: 35%;
}

.text-partner h3 {
    margin-bottom: 20px;
}

.text-partner p {
    margin-bottom: 20px;
    font-size: 16px;
}

.text-partner button {
    background-color: transparent;
    padding: 10px;
    border: 1px solid black;
    margin-right: 20px;
    font-size: 18px;
}

.operation h3{
    font-size: 27px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    justify-content: space-between; 
}

.card {
    width: calc((100% / 3) - 20px);

}
.card-img img {
    width: 100%;
    display: block
}

.card-title {
    margin-top: 15px;
    margin-bottom: 15px;
}

.jumbo-box {
    padding-top: 120px;
    padding-bottom: 120px;
    width: 920px;
    margin: 0 auto;
}

.jumbo-box h3 {
    font-size: 27px;
}

.jumboclient {
    margin-top: 50px;
    margin-bottom: 50px;
}

.wide-container-box { 
    display: flex;
}

.box-total {
    display: flex;
    margin: 0 auto;
    width: 100%;
}

.box-img-aside {
    display: flex;
    flex-wrap: wrap;
    max-width: 33.33%;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    justify-content: space-between;
}

.designit {
    background-color: #97D39F;
    border: 10px solid #CCE9CE;
}

.asu {
    background-color: #68002E;
}

.florida {
    background-color: #0093C8;
}

.topps {
    background-color: #FF002C;
}

.bicycle {
    background-color: #FF002C;
}

.hearst {
    background-color: #ADCFE4;
}

.lonely {
    background-color: #05287B;
}

.channel {
    background-color: #FFD657;
}


.box-image {
    align-items: center;
    justify-content: center;
    display: flex;
    aspect-ratio: 1/1;
    width: 50%; 
}

.box-image img {
    aspect-ratio: 1/1;
    max-width: 50%;
    filter: invert(1);
}

.box-central {
    overflow: auto;
    max-width: 33.33%;
    background-color: #F5F5F5;
}

.img-box-central img {
    width: 40%;
    margin: 30px;
}

.empty-central-box {
    border-bottom: 1px solid lightgray;
    width: 80px;
    margin: 0 30px 30px;
}

.text-cental-box {
    margin: 30px;
    font-size: 14px;
    color: gray;
    overflow: auto;
}

.wide-container {
    background-color: #ADCFE4;
}

.jumbo {
    width: 920px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.jumbo-title {
    font-size: 22px;
    width: 350px;
    color: #68002E;
    padding-top: 80px;
    padding-bottom: 80px;
}

.wide-container button {
    background-color: white;
    padding: 10px 40px 10px;
    border: none;
    font-size: 14px;
}

.faq-container {
    margin-top: 120px;
    margin-bottom: 120px;
}

.text-title {
    margin-left: 10px;
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 25px;
    border-bottom: 1px solid lightgray;
}

.text-and-icon {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    margin: 10px;
    padding-top: 30px;
    padding-bottom: 30px; 
}

footer {
    background-color: black;
    color: white;
}

.footer-box {
    display: flex;
    margin-top: 30px;
    padding-top: 50px;
}

.ul-box a {
    color: white;
}

.ul-title {
    margin-left: 10px;
    font-size: 22px;
    margin-bottom: 35px;
    margin-top: 35px;
}

.footer-small {
    border-bottom: 1px solid lightgray;
    width: 120px;
    margin-top: 80px;
    margin-bottom: 45px;
}